@import "../../global.scss";

.contact {
  background-color: #66806a;
  // background-color: #736328;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }

    .contact-left {
      flex: 6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      // margin-left: 150px;

      @include mobile {
        margin: 0px;
      }

      .contact-title {
        font-size: 30px;
        font-weight: 400;
        color: whitesmoke;

        @include mobile {
          padding-top: 40px;
        }
      }

      .contact-text {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 00.7px;
        width: 75%;
        margin-top: 1rem;
        color: whitesmoke;

        @include mobile {
          width: 65%;
        }
      }

      .social {
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        gap: 4rem;
        margin-top: 3.5rem;
        font-size: 30px;

        a {
          color: whitesmoke;
          transition: 0.3s color ease;

          &:hover {
            color: #fbaccc;
          }
        }
      }
    }

    .contact-right {
      flex: 6;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobile {
          width: 100%;
        }

        input {
          width: 90%;
          height: 40px;
          border: none;
          border-radius: 25px;
          font-size: 14px;
          margin: 5px 0px;
          padding-left: 10px;
          color: #66806a;

          @include mobile {
            align-self: center;
            width: 50%;
          }
        }

        textarea {
          width: 90%;
          height: 100px;
          border: none;
          border-radius: 20px;
          font-size: 14px;
          margin: 5px 0px;
          padding-left: 10px;
          padding-top: 10px;
          color: #66806a;

          @include mobile {
            align-self: center;
            width: 50%;
          }
        }

        button {
          width: 90%;
          height: 40px;
          border: none;
          background-color: #fbaccc;
          font-size: 14px;
          color: #66806a;
          border-radius: 25px;
          margin: 5px 0px;

          @include mobile {
            align-self: center;
            width: 40%;
          }

          &:hover {
            opacity: 0.8;
            background-color: #ff99c8;
          }
        }
      }
    }
  }
}
