.works {
  background-color: #66806a;
  // background-color: #736328;

  .w {
    width: 350px;
    height: 230px;
    margin: 20px 20px;
    border: 2px solid #66806a;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease;

    .w-card {
      display: none;
    }

    .w-img {
      width: 100%;
      height: 100%;
      align-items: center;
      object-fit: cover;
      z-index: 2;
    }

    &:hover {
      background-color: #66806a;
      // background-color: #333;
      .w-img {
        opacity: 0.1;
        z-index: 0;
      }

      .w-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        padding: 5px 5px;
        z-index: 1;

        .card-title {
          margin-top: 15px;
          font-weight: 400;
          letter-spacing: 0.7px;
          color: whitesmoke;
        }

        .card-undertitle {
          font-weight: 400;
          letter-spacing: 0.7px;
          color: #fbaccc;
        }

        .card-description {
          margin-top: 5px;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.7px;
          color: whitesmoke;
          width: 75%;
        }
      }
    }
  }
}
