.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; //Gör så att varje parti visas i sin helhelt, det gör en "snap" vid varje nytt kapitel
    scrollbar-width: none; //firefox: tar bort synligheten av scrollbaren
    &::-webkit-scrollbar {
      //andra browsers: tar bort synligheten av scrollbaren
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start; //I samarbete med "scroll-snap-type"
    }
  }
}
