@import "../../global.scss";

.footer {
  background-color: #66806a;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 100vw;
    height: 20px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-text {
      color: whitesmoke;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
    }
  }
}
