* {
  scrollbar-color: #333;
}
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #66806a;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

* {
  scroll-behavior: smooth;
}
